body{
    font-family: "Poppins";
    font-size: 14px;
    background-color: tomato;
    margin: 0;
    padding: 0;
}

.btn{
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 2px;
}

/* Header */

header{
    position: sticky;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    background-color: tomato;
}

.toggle{
    display: none;
}

header .logo {
    color: rgba(255, 255, 255, 0.659);
    font-size: 24px;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-weight: 600;    
}

.logo:hover{
    color: white;
}
header ul{
    position: relative;
    display: flex;
}

header ul li{
    position: relative;
    list-style: none;
    margin: 0px 3px;
}

header ul li a{
    position: relative;
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    color: white;
    padding: 10px 15px 10px 15px;
    font-weight: 500;
    border-radius: 2px;
}

li a:hover{
    background-color: #ffffff;
    color: tomato;
}

li .active{
    background-color: #bb9f3a;
    color: black;
}

/* home */

#home{
    height: 92vh;
    display: flex;
    flex-direction: row;
    flex: 3;
}

.slider{
    height: 100%;
    width: 100%;
    position: relative;
    margin: auto;
    color: white;
}

.slider-content:nth-child(even){
    color: tomato;
    background-color: white;
    display: none;
}

.slider-content:nth-child(odd){
    color: white;
    background-color: tomato;
    display: none;
}

.slider-content .content{
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20vw;
    text-align: center;
}

.content h1{
    font-size: 32px;
}

.content p{
    font-size: 14px;
}

.btn-register{
    border: 1px solid white;
    color: tomato;
    font-weight: 600;
    margin: 2vh;
}

.btn-register:hover{
    cursor: pointer;
    border: 1px solid white;
    background-color: tomato;
    color: rgb(255, 255, 255);
}

/* Slider Next Prev Button */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
  }
  
  @-webkit-keyframes fade {
    0%{opacity: 0}
    10%{opacity: .1;}
    20%{opacity: .2;}
    30%{opacity: .3;}
    40%{opacity: .4;}
    50%{opacity: .5}
    100%{opacity: 1;}
  }
  
  @keyframes fade {
    0%{opacity: 0}
    10%{opacity: .1;}
    20%{opacity: .2;}
    30%{opacity: .3;}
    40%{opacity: .4;}
    50%{opacity: .5}
    100%{opacity: 1;}
  }


  /* Service */

#service{
    height:auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: tomato;
    background-color: white;
}

#service h1{
    margin: 5vh 0;
    font-size: 24px;
    text-align: center;
}

#service .row{
    display: flex;
    margin: 3vh 0;
}

#service .row .card{
    width: 25vw;
    height: auto;
    margin: 4vh 2vw ;
    box-shadow: 1px 1px 2px 2px rgba(128, 128, 128, 0.46);
}

#service .row .card:hover{
    box-shadow: 1px 1px 4px 4px rgba(255, 99, 71, 0.439);
}

#service .row .card .header{
    display: flex;
    color:tomato;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}

#service .row .card .body{
    padding: 2vh 1vw;
    text-align: left;
    
}

#service .row .card .body li{
    margin: 10px 0;
}

#service .row .card .footer{
    display: flex;
}

#service .row .card .btn-service{
    width: 100%;
    color: white;
    font-weight: 700;
    padding: 15px;
    margin: 2px;
    background-color: tomato;
    border : .5px solid tomato;
}

#service .row .card .btn-service:hover{
    cursor: pointer;
    color: tomato;
    background-color: white;
    border : .5px solid tomato
}

#service .row .card .btn-outline{
    color: tomato;
    background-color: white;
    width: 100%;
    font-weight: 700;
    padding: 15px;
    margin: 2px;
    border : .5px solid tomato;
}

#service .row .card .btn-outline:hover{
    color: white;
    background-color: tomato;
}

/* Contact Us */
#contact{

    position: relative;
    display: flex;
    height:92vh;
    color: white;
    background-color:tomato;
    background-position: right;
}
.contactus{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 5vh;
    align-items: center;
}

.contactus h1{
    font-size: 24px;
    font-weight: bold;
}

.contact-form form{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.contact-form form input,
.contact-form form textarea{
    border:none;
    outline: none;
    margin: 5px;
    padding: 15px;
    width: 300px;
    background-color: rgb(226, 226, 226);
    color: rgb(0, 0, 0);
    font-size: 14px;
    border: .5px solid rgb(255, 255, 255);
    border-radius: 2px;
}

.contact-form form input:focus, textarea:focus{
    border: 1px solid white;
    background-color: rgb(255, 255, 255);
}

.contact-form form input[type="button"]{
    border:none;
    margin: 5px;
    padding: 15px;
    width: 150px;
    background-color: tomato;
    border: 1px solid white;
    color: white;
    margin-top: 20px;
}

.contact-form form input[type="button"]:hover{
    cursor: pointer;
    background-color: white;
    color: tomato;
}

.contact-info{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-left: 2vw;
}

.contact-info h1{
    font-size: 24px;
    font-weight: bold;
}

.contact-info p{
    font-size: 14px;
    font-weight: 800;
}

.contact-info .box{
    display: flex;
    flex-direction: row;
}

.box .icon{
    margin-top: 20px;
}

.box .text{
    margin-left: 10px;
}





@media screen and (max-width:750px){

    header{
        height: 8vh;
        width: 100%;
        justify-content: space-between;
        background-color: tomato;
    }

    .logo{
        margin-left: 10px;
    }

    .menu{
        position:fixed;
        top:0;
        left: -120%;
        display: block;
        text-align: center;
        width: 100%;
        height: 100vh;
        padding-top: 50px;
        margin-top: 8vh ;
        background-color: tomato;
        transition: 0.5s;
        z-index: 999;
    }

    header ul li a{
        padding: 10px 15px 10px 0px;
    }

    .active{
        left: 0;
        padding-left: 0;
    }

    .toggle{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2vw;
        height: 2vh;  
        color: white;
        margin-right: 25px;
        cursor: pointer;
    }

    /* Home */

    #home{
        height: auto;
        flex-direction: column;
        flex: 2;
    }

    /* Service */

    #service .row{
        display: flex;
        flex-direction: column;
        margin: 3vh 0;
    }

    #service .row .card{
        width: 80vw;
        margin: 2vh 0;
    }

    /* Contact us */
    #contact{
        flex-direction: column;
        height: max-content;
    }

    #contact  h1{
        font-size: 24px;
   }

    .contactus{
        width: 100%;
    }

    .contact-form form{
        display: flex;
        flex-direction: column;
    }

    .contact-form form input,
    .contact-form form textarea{
    border:none;
    outline: none;
    margin: 4px;
    padding: 10px;
    width: 80vw;
    background-color: rgb(226, 226, 226);
    color: rgb(0, 0, 0);
    font-size: 14px;
    border: .5px solid rgb(80, 80, 80);
    border-radius: 2px;
}
}