body{
    font-family: "Poppins";
    font-size: 14px;
    background-color: tomato;
    margin: 0;
    padding: 0;
}

.btn{
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 2px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header */

header{
    position: sticky;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: tomato;
}

.menu{
    display: flex;
    width: 70vw;
    justify-content: space-around;
}

.toggle{
    display: none;
}

header .logo {
    color: rgba(255, 255, 255, 0.659);
    font-size: 24px;
    margin-left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-weight: 600;    
}

.logo:hover{
    color: white;
}
header ul{
    position: relative;
    display: flex;
}

header ul li{
    position: relative;
    list-style: none;
    margin: 0px 3px;
}

header ul li a{
    position: relative;
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    color: white;
    padding: 10px 15px 10px 15px;
    font-weight: 500;
    border-radius: 2px;
}

header ul li a::before{
    content:'';
    position: absolute;
    width: 0%;
    height: 100%;
    bottom: 0;
    left:0;
    border-radius: 2px;
    z-index: -1;
    transition: all .6s;

}

header ul li a:hover::before{
    width: 100%;
    background-color: #ffffff;
}

li a:hover{
    color: tomato;
}


li .active{
    background-color: #bb9f3a;
    color: black;
}


.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon i{
    color: white;
    font-size: 22px;
    padding: 10px 15px;
}

.social-icon .fa:hover{
    background-color: white;
    border-radius: 4px;
}

.social-icon .fa-facebook:hover{
    color: #3b5998;
}

.social-icon .fa-instagram:hover{
    color: #cd486b;
}

.social-icon .fa-telegram:hover{
    color: #0088cc;
}

.social-icon .fa-youtube:hover{
    color: #ff0000;
}

/* home left side */

#home{
    height: auto;
    display: flex;
    flex-direction: row;
    flex: 3;
}

.slider{
    height: 100%;
    position: relative;
    margin: auto;
    color: white;
}



/* .slider-content:nth-child(even){
    color: tomato;
    background-color: white;
    display: none;
} */

.slider-content:nth-child(odd){
    color: white;
    display: none;
}

.slider-content .content{
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5vw;
    text-align: center;
}

.content h1{
    font-size: 32px;
}

.content p{
    font-size: 14px;
}

.btn-register{
    border: 1px solid white;
    color: tomato;
    font-weight: 600;
    margin: 2vh 2vh 5vh 2vh;
}

.btn-register:hover{
    cursor: pointer;
    border: 1px solid white;
    background-color: tomato;
    color: rgb(255, 255, 255);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
  }
  
  @-webkit-keyframes fade {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
  }
  
  @keyframes fade {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
    /* 0%{opacity: 0}
    10%{opacity: .1;}
    20%{opacity: .2;}
    30%{opacity: .3;}
    40%{opacity: .4;}
    50%{opacity: .5}
    100%{opacity: 1;} */
  }

  /* Home Right Side */

  .right-side{
    height: 100%;
    position: relative;
    margin: auto;
    color: white;
}

.image-content .content{
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10vw;
    text-align: center;
}

.image-content .content img{
    height: 30vw;
    width: 30vw;
}

.image-content .content .cover{
    height: 30vw;
    width: 30vw;
    position: absolute;
    opacity: .1;
    background-color: rgb(8, 3, 2);
    border-radius: 10px;
}

.image-content .content .cover:hover{
    background-color: rgb(192, 72, 51);
    opacity: .3;
}



  /* Service */

#service{
    height:auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: tomato;
    background-color: white;
}

#service h1{
    margin: 5vh 0;
    font-size: 24px;
    text-align: center;
}

#service .row{
    display: flex;
    margin: 3vh 0;
}

#service .row .card{
    position: relative;
    width: 25vw;
    height: auto;
    overflow:auto;
    margin: 0vh 4vw 0 0  ;
    padding: 5px;
    box-shadow: 1px 1px 2px 2px rgba(128, 128, 128, 0.46);
    z-index: 1;
}

#service .row .card::before{
   content:'';
   height: 2%;
   min-height: 2vh;
   width: 2vw;
   position: absolute;
   background:linear-gradient(30deg,rgb(255, 75, 34),rgb(253, 119, 96));
   z-index: -1;
   transition: all .5s;
}

#service .row .card:hover{
    color: white;
}

#service .row .card:hover::before{
    width: 25vw;
    height: 78%
}

#service .row .card .header{
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}

#service .row .card .body{
    padding: 2vh 1vw;
    text-align: left;
    
}

#service .row .card .body li{
    margin: 10px 0;
}

#service .row .card .footer{
    display: flex;
    z-index: 1;
}

#service .row .card .btn-service{
    width: 100%;
    color: white;
    font-weight: 700;
    padding: 15px;
    margin: 2px;
    background-color: tomato;
    border : .5px solid white;
}

#service .row .card .btn-service:hover{
    cursor: pointer;
    color: tomato;
    background-color: white;
    border : .5px solid tomato
}

#service .row .card .btn-outline{
    color: tomato;
    background-color: white;
    width: 100%;
    font-weight: 700;
    padding: 15px;
    margin: 2px;
    border : .5px solid tomato;
}

#service .row .card .btn-outline:hover{
    color: white;
    background-color: tomato;
    border : .5px solid white;
}

/* Contact Us */
#contact{

    position: relative;
    display: flex;
    height:92vh;
    color: white;
    background-color:tomato;
    background-position: right;
}
.contactus{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 5vh;
    align-items: center;
}

.contactus h1{
    font-size: 24px;
    font-weight: bold;
}

.contact-form form{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.contact-form form input,
.contact-form form textarea{
    border:none;
    outline: none;
    margin: 5px;
    padding: 10px;
    width: 300px;
    background-color: rgb(226, 226, 226);
    color: rgb(0, 0, 0);
    font-size: 14px;
    border: .5px solid rgb(255, 255, 255);
    border-radius: 2px;
}

.contact-form form input:focus, textarea:focus{
    border: 1px solid white;
    background-color: rgb(255, 255, 255);
}

.contact-form form input[type="button"]{
    border:none;
    margin: 5px;
    padding: 15px;
    width: 150px;
    background-color: tomato;
    border: 1px solid white;
    color: white;
    margin-top: 20px;
}

.contact-form form input[type="button"]:hover{
    cursor: pointer;
    background-color: white;
    color: tomato;
}

.contact-info{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-left: 2vw;
}

.contact-info h1{
    font-size: 24px;
    font-weight: bold;
}

.contact-info p{
    font-size: 14px;
    font-weight: 800;
}

.contact-info .box{
    display: flex;
    flex-direction: row;
}

.box .icon{
    margin-top: 20px;
}

.box .text{
    margin-left: 10px;
}


/* Register */

#register{
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#register .card{
    width: 50vw;
    display: flex;
    flex: 4;
    margin: 8vw;
    box-shadow: 1px 1px 4px 2px rgb(0, 0, 0,.3);
}

#register .side-bar{
    height: 93vh;
    width: 50%;
    position: absolute;
    left: 0;
    opacity: .2;
    background-color: tomato;
    transition: all 1s;
}

#register .side-bar:hover{
    opacity: .2;
    background-color: rgb(0, 0, 0);
}

#register .left{
    flex: 2;
    padding: 2vw;
    color: white;
    background-color: tomato;
}

#register .left:hover{
    background-color: tomato;
    color: white;
}



#register .left p{
    font-size: 14px;
    text-align: center;
}

#register .left h1{

    text-align: center;
}

#register .right{
    flex: 2;
    padding: 2vw;
}

#register .right form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right form input[type="text"], 
.right form input[type="password"],
.right form input[type="number"]{
    width: 300px;
    padding: 15px;
    margin: 1vh 0;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: rgba(128, 128, 128, 0.337);
    border: 0.5px solid rgba(128, 128, 128, 0.337);
}

.right form .input-name input[type="text"]{
    width: 130px;
}

.right form input[type="text"]:focus, 
.right form input[type="password"]:focus,
.right form input[type="number"]:focus{
    background-color: white;
    border: 0.5px solid tomato;
}

.right form input[type="button"]{
    width: 335px;
    padding: 15px;
    margin: 1vh 0;
}

.right form .btn-reg{
    color: tomato;
    background-color: white;
    border: 1px solid tomato;
    outline: none;
}

.right form .btn-reg:hover{
    color: white;
    background-color: tomato;
    cursor: pointer;
}









@media screen and (max-width:750px){

    header{
        height: 8vh;
        width: 100%;
        justify-content: space-between;
        background-color: tomato;
    }

    .logo{
        margin-left: 10px;
    }

    .menu{
        position:fixed;
        top:0;
        left: -120%;
        display: block;
        text-align: center;
        width: 100%;
        height: 100vh;
        padding-top: 50px;
        margin-top: 8vh ;
        background-color: tomato;
        transition: 0.5s;
        z-index: 999;
    }

    .social-icon{
        width: 100%;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header ul li a{
        padding: 10px 15px 10px 15px;
    }

    header ul{
         display: flex;
        flex-direction: column;
    }
    .active{
        left: 0;
        padding-left: 0;
    }

    .toggle{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2vw;
        height: 2vh;  
        color: white;
        margin-right: 25px;
        cursor: pointer;
    }

    /* Home left */

    #home{
        height: auto;
        flex-direction: column;
        flex: 2;
    }

    /* home right */
    .right-side{
        display: none;
    }
    /* Service */

    #service .row{
        display: flex;
        flex-direction: column;
        margin: 3vh 0;
    }

    #service .row .card{
        width: 80vw;
        height : 450px;
        margin: 2vh 0;
    }

    #service .row .card:hover{
    color: white;
}

    #service .row .card:hover::before{
        width: 80vw;
        height: 450px;
    }

    #service .row .card .footer{
       position: absolute;
       width: 80vw;
       bottom: 10px;
        
    }

    /* Contact us */
    #contact{
        flex-direction: column;
        height: max-content;
        padding: 0 10vw;
    }

    #contact  h1{
        font-size: 24px;
   }

    .contactus{
        width: 100%;
    }

    .contact-form form{
        display: flex;
        flex-direction: column;
    }

    .contact-form form input,
    .contact-form form textarea{
        border:none;
        outline: none;
        margin: 4px;
        padding: 10px;
        width: 80vw;
        background-color: rgb(226, 226, 226);
        color: rgb(0, 0, 0);
        font-size: 14px;
        border: .5px solid rgb(255, 255, 255);
        border-radius: 2px;
    }

    /* Register */

    #register .card{
        flex-direction: column;
        margin: 1vh 10px;
    }

    #register .side-bar{
        display: none;
    }
}