html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

.btn {
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 2px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

section{
    height: 100vh;
}

h1{
  font-size: 28px;
}

/* Profile */
.sidenav {
  height: 100vh;
  width: 18vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-x: hidden;
  transition: 0.3s;
  padding: 20px 0 0 20px;
}

.sidenav .title {
  color: rgba(255, 255, 255, 0.829);
  font-size: 24px;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.sidenav .title:hover {
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  transition: all 0.2s;
}

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.4s;
}

.sidenav a:hover {
  width: 100%;
  background-color: #ffffff;
  color: #1c232d;
}

.sidenav .close-btn {
  display: none;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.main {
  margin-left: 20vw;
  padding: 2vh 5vw;
}

.main .open-btn {
  display: none;
}

/* 
  Profile
*/

#profile{
  padding: 2px;
}

#profile .edit{
  cursor: pointer;
  font-weight: bolder;
  font-size: 18px;
}

#profile .profile{
  width: fit-content;
  margin-top: 30px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#profile .address{
  width: fit-content;
  margin-top: 30px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#profile  .row input[type="text"],
#profile  .row input[type="email"],
#profile  .row input[type="password"],
#profile  .row input[type="date"],
#profile  .row input[type="number"]{
  font-family: "Poppins";
  width: 300px;
  padding: 15px;
  margin: 1vh 20px;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: rgba(128, 128, 128, 0.337);
  border: 0.5px solid rgba(128, 128, 128, 0.337);
  transition: all .3s;

}

#profile  .row input[type="text"]:focus,
#profile  .row input[type="email"]:focus,
#profile  .row input[type="password"]:focus,
#profile  .row input[type="date"]:focus,
#profile  .row input[type="number"]:focus{

  background-color: white;
  border: 0.5px solid #1c232d;
  transform: scale(1.01);
}

#profile .row input[type="submit"]{
  font-family: "Poppins";
  margin: 1vh 20px;
  padding: 15px;
  width: 250px;
  color: white;
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 1px solid #1c232d;
  outline: none;
  transition: all .5s;
}

#profile  .row input[type="submit"]:hover{
  color: #1c232d;
  background: White;
  cursor: pointer;
}


/* My Subscriptions */

#my-subscription{
  padding: 10px;
}

.subscription{  
  display: flex;
}

.subscription .card{
  width: 30%;
  padding: 20px;
  margin: 0 10px 0 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  transition: all .5s;
}

.subscription .card:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.subscription .buy-btn{
  color: #1c232d;
  background-color: white;
  border: 1px solid #1c232d;
  outline: none;
}

.subscription .buy-btn:hover{
  color: white;
  background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  cursor: pointer;
}

/* Add Subscription */

#add-subscription{
  padding: 10px;
}

/* Cart */

#cart{
  padding: 10px;
}

.summary{
  display: flex;
}


#cart .cart{
  margin: 30px;
}

#cart .cart .item{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 40vw;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

#cart .cart .item .title{
  padding: 0 10px;
  width: 60%;
}

#cart .cart .item .price{
  display: flex;
  justify-content: center;
  width: 20%;
  padding: 0 10px;
}

#cart .cart .item .remove{
  display: flex;
  justify-content: center;
  padding: 0 10px;
  width: 20%;
}

#cart .sub-total,
#cart .tax,
#cart .total{
  margin-left: 10px;
  padding: 3px;
}

#cart span{
  font-weight: bold;
}

#cart .summary .checkout{
  width: 15vw;
  margin: 35px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#cart .summary .checkout input{
    width: 100%;
    color: #1c232d;
    background-color: white;
    border: 1px solid #1c232d;
    outline: none;
    margin: 5px 0;
    transition: all .4s;
}

#cart .summary .checkout input:hover{
  color: white;
  background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  cursor: pointer;
}

#cart .empty{
  height: 60%;
  width: 100%;
  display: flex;
  text-align: center;
  color: grey;
}

/* Mobile  */

@media screen and (max-width: 900px) {
  
  .sidenav {
    padding: 30px 0 0 0px;
    width: 0;
    text-align: center;
  }

  .sidenav a {
    font-size: 18px;
  }

  .sidenav .close-btn {
    display: inline-block;
  }

  .main {
    margin-left: 0;
  }

  .main .open-btn {
    cursor: pointer;
    display: block;
    font-size: 25px;
    color: #1c232d;
    padding: 15px 20px;
  }


}
